/* responsive design for mobile */
@media screen and (max-width: 1500px) {
    main{
        width: 325px;
        height: 360px;
        border-radius: 15px;
        padding: 23px;
    }
/* section 1 | Rating state */
    main .Rating .star {
        width: 40px;
    }
    main .Rating .star img {
        width: 14px;
    }
    main .Rating h1 {
        margin-top: 18px;
        letter-spacing: .3px;
        font-size: 23.8px;
    }
    main .Rating > p {
        font-size: 14px;
        margin-top: 13px;
        color: var(--Light-Grey);
        line-height: 1.6;
    }
    main .Rating .radio {
        margin-top: 25px;
        padding: 0;
    }
    main .Rating .radio label {
        --aspect-ratio: 43px;
        width: var(--aspect-ratio);
        height: var(--aspect-ratio);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        text-align: center;
        padding-top: 2px;
    }
    main .Rating #rat {
        width: 100%;
        margin-top: 23px;
        font-size: 12px;
    }
/* section 2 | Thank You state  */
    main .Thank .gif {
        margin-top: 10px;
    }
    main .Thank .gif img { 
        width: 145px;
    }
    main .Thank .confirm {
        margin-top: 5px;
    }
    main .Thank .confirm p {
        padding: 5px 15px;
        font-size: 14px;
        border-radius: 20px;
    }
    main .Thank h2 {
        margin-top: 27px;
        font-weight: 600;
    }
    main .Thank > p {
        margin-top: 10px;
        line-height: 1.6;
        font-size: 14px;
    }
    .attribution {
        font-size: 10px;
        margin-top: 5px ;
    }
}
