@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
--Orange: hsl(25, 97%, 53%);
--Orange-Yellow: hsl(34, 97%, 53%);
--White: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--Medium-Grey: hsl(216, 12%, 54%);
--Dark-Blue: hsl(213, 19%, 18%);
--Very-Dark-Blue: hsl(216, 12%, 8%);

--Gredient-Dark-Blue1: hsl(214, 20%, 16%);
--Gredient-Dark-Blue: hsl(207, 39%, 11%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .6s;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--White);
    background: var(--Very-Dark-Blue);
    font-family: 'Overpass', sans-serif;
}
main {
    background: linear-gradient(var(--Gredient-Dark-Blue1), var(--Gredient-Dark-Blue));
    border-radius: 30px;
    width: 410px;
    height: 415px;
    padding: 30px;
}
main section {
    width: 100%;
    height: 100%;
}
main .Thank {display: none;}
/* main .Rating  {display: none;} */

/* section 1 | Rating state */
main .Rating .star {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: var(--Dark-Blue);
}
main .Rating h1 {
    margin-top: 32px;
    font-size: 28px;
}
main p {
    margin-top: 8px;
    font-size: 15px;
    color: var(--Light-Grey);
    line-height: 1.6;
}
main .Rating .radio {
    width: 100%;
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    list-style: none;
}
main .Rating .radio input[type="radio"]{
    display: none;
}
main .Rating .radio label {
    color: var(--Light-Grey);
    background: var(--Dark-Blue);
    --aspect-ratio: 50px;
    width: var(--aspect-ratio);
    height: var(--aspect-ratio);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    border: none;
    outline: none;
}
main .Rating .radio label:hover {
    color: var(--White);
    background: var(--Light-Grey);
}
main .Rating .radio input[type="radio"]:checked + label {
    color: var(--White);
    background: var(--Orange);
}
main .Rating #rat {
    margin-top: 33px;
    width: 98%;
    height: 45px;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 700;
    border-radius: 50px;
    background: var(--Orange);
    color: var(--White);
    border: none;
    outline: none;
}
main .Rating #rat:hover {
    background: var(--White);
    color: var(--Orange);
}

/* section 2 | Thank You state  */
main .Thank {
    text-align: center;
}
main .Thank .gif {
    margin-top: 15px;
    margin-right: 8px;
}
main .Thank .gif img{
    animation: animation 1s alternate;
}
main .Thank .confirm {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
main .Thank .confirm p {
    color: var(--Orange-Yellow);
    background: var(--Dark-Blue);
    padding: 5px 15px 1px;
    border-radius: 20px;
    animation: animation1 0.3s alternate;
}
main .Thank h2 {
    margin-top: 33px;
    font-size: 28px;
    animation: animation2 .5s alternate;
}
main .Thank > p {
    margin-top: 10px;
    margin-right: 8px;
    line-height: 1.6;
    animation: animation3 .5s alternate;
}
.attribution a { color: hsl(34, 60%, 52%); }
.attribution { margin-top: 10px; font-size: 11px; text-align: center; color: var(--Light-Grey); }

@keyframes animation {
    0%{
        opacity: 0;
        transform: rotate(0) scale(2);
    }
    100%{
        transform: rotate(0);
    }
    20%{
        opacity: .5;
        transform: scale(1) rotate(10deg);
    }
    40%{
        opacity: 1;
        transform: rotate(-10deg);
    }
    60%{
        transform: rotate(10deg);
    }
    80%{
        transform: rotate(-10deg);
    }
}
@keyframes animation1 {
    0%{
        opacity: 0;
        font-size: 0;
    }
    100%{
        opacity: 1;
        transform: 0;
    }
}
@keyframes animation2 {
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: 0;
    }
}
@keyframes animation3 {
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: 0;
    }
}
